ion-toolbar{
    --background: #020CA8;
    --color: #ffffff;
    text-align: center;
}

.background{
    --background: #069FF1;
}

ion-label{
    color: #000000;
    font-family: estiloFuente;
}

ion-input{
    color: #000000;
    font-family: estiloFuente;
}

.fab{
    --ion-color-base: #020CA8 !important;
}

.secondToolbar{
    --background: #069FF1;
}

.button{
    --background: #020CA8; 
    --border-radius: 5px;
}