.imagen{
    height: 30px;
    width: 30px;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 3px;
    margin-top: 3px;
}

ion-toolbar{
    --background: #020CA8;
    --color: #ffffff;
    text-align: center;
}

ion-card{
    --background: #020CA8;
    padding: 0;
}

ion-button{
    --background: #069FF1;
    --border-color: #FFFFFF;
    --color: #ffffff;
}

ion-select{
    background-color: #069FF1;
    color: #FFFFFF;
    width: 60px;
    height: 36px;
    border-radius: 5px;
}

ion-grid{
    --ion-grid-padding: 0;
}

ion-col{
     --ion-grid-column-padding: 0;
}

ion-content{
    --ion-background-color: #069FF1;
}

ion-avatar{    
    border: 1px solid #FFFFFF;
    background-color: #020CA8;
}

ion-avatar img{
    padding: auto;
    margin: auto;
    width: 100%;
    height: 100%;
}

.marginSelect{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ion-item{
    --color: #000000;
}

.font{
    font-family: estiloFuente;    
}