<ion-header>
  <ion-toolbar>
    <ion-title>Liga Santander</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div><ion-button expand="block" (click)="getStanding()">Clasificación</ion-button></div>
          </ion-col>
          <ion-col>
            <div><ion-button expand="block" (click)="getCurrentFixture()">Jornada actual</ion-button></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-button expand="block" (click)="getFixtureByRound()">Jornada nº</ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div class="marginSelect">
              <ion-select [(ngModel)]="roundFixture">
                <ion-select-option *ngFor="let round of rounds" [value]="round">{{round}}</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="standingChecked">
    <ion-item *ngFor="let team of table">
      <ion-avatar>
        <ion-img class="imagen" src="{{team.logo}}"></ion-img>
      </ion-avatar> &nbsp; &nbsp;   
      <ion-label class="font">{{ team.rank }}º - {{ team.teamName }} - {{ team.points }} pts </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="fixtureChecked">
    <ion-item *ngFor="let match of fixture">
      <ion-img class="imagen" src="{{match['homeTeam'].logo}}"></ion-img>
      <ion-label class="ion-text-center">{{ match["homeTeam"].team_name }} {{match["goalsHomeTeam"]}} VS {{match["goalsAwayTeam"]}} {{ match["awayTeam"].team_name }}</ion-label>
      <ion-img class="imagen" src="{{match['awayTeam'].logo}}"></ion-img>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentChecked">
    <ion-item *ngFor="let match of currentFixture">
      <ion-img class="imagen" src="{{match['homeTeam'].logo}}"></ion-img>
      <ion-label class="ion-text-center">{{ match["homeTeam"].team_name }} {{match["goalsHomeTeam"]}} VS {{match["goalsAwayTeam"]}} {{ match["awayTeam"].team_name }}</ion-label>
      <ion-img class="imagen" src="{{match['awayTeam'].logo}}"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
