<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registForm" (ngSumbit)="regist()">
    <ion-list>
      <ion-item>
        <ion-label class="label">Nombre del establecimiento</ion-label>
        <ion-input formControlName="PubName"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.PubName">
          <div class="div" *ngIf="registForm.get('PubName').hasError(validation.type) && (registForm.get('PubName').dirty || registForm.get('PubName').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label class="label">Nombre de usuario:</ion-label>
        <ion-input formControlName="Nickname"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.Nickname">
          <div class="div" *ngIf="registForm.get('Nickname').hasError(validation.type) && (registForm.get('Nickname').dirty || registForm.get('Nickname').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label class="label">Comunidad:</ion-label>
        <ion-select formControlName="Community" (ionChange)="getProvinces()">
          <ion-select-option [value]="Andalucia">Andalucía</ion-select-option>
          <ion-select-option [value]="Aragon">Aragón</ion-select-option>
          <ion-select-option [value]="Asturias">Asturias</ion-select-option>
          <ion-select-option [value]="Canarias">Canarias</ion-select-option>
          <ion-select-option [value]="Cantabria">Cantabria</ion-select-option>
          <ion-select-option [value]="Castilla_La_Mancha">Castilla-La Mancha</ion-select-option>
          <ion-select-option [value]="Castilla_Leon">Castilla y León</ion-select-option>
          <ion-select-option [value]="Catalunya">Cataluña</ion-select-option>
          <ion-select-option [value]="Ceuta">Ceuta</ion-select-option>
          <ion-select-option [value]="Comunitat_Valenciana">Comunitat Valenciana</ion-select-option>
          <ion-select-option [value]="Pais_Vasco">País Vasco</ion-select-option>
          <ion-select-option [value]="Extremadura">Extremadura</ion-select-option>
          <ion-select-option [value]="Galicia">Galicia</ion-select-option>
          <ion-select-option [value]="Islas_Baleares">Islas Baleares</ion-select-option>
          <ion-select-option [value]="Islas_Canarias">Islas Canarias</ion-select-option>
          <ion-select-option [value]="La_Rioja">La Rioja</ion-select-option>
          <ion-select-option [value]="Madrid">Comunidad de Madrid</ion-select-option>
          <ion-select-option [value]="Melilla">Melilla</ion-select-option>
          <ion-select-option [value]="Murcia">Región de Murcia</ion-select-option>
          <ion-select-option [value]="Navarra">Comunidad Foral de Navarra</ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.Community">
          <div class="div" *ngIf="registForm.get('Community').hasError(validation.type) && (registForm.get('Community').dirty || registForm.get('Community').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label class="label">Provincia:</ion-label>
        <ion-select formControlName="Province" (ionChange)="getLocalities()">
          <ion-select-option *ngFor="let province of provinces" [value]="province">{{ province }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="label">Localidad:</ion-label>
        <ion-select formControlName="Locality">
          <ion-select-option *ngFor="let locality of localities" [value]="locality">{{ locality }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="label">Direccón:</ion-label>
        <ion-input formControlName="Address"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.Address">
          <div class="div" *ngIf="registForm.get('Address').hasError(validation.type) && (registForm.get('Address').dirty || registForm.get('Address').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label class="label">Teléfono de contacto:</ion-label>
        <ion-input formControlName="Phone"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.Phone">
          <div class="div" *ngIf="registForm.get('Phone').hasError(validation.type) && (registForm.get('Phone').dirty || registForm.get('Phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label class="label">Correo electrónico:</ion-label>
        <ion-input formControlName="Email"></ion-input>
      </ion-item>
      <div>
      <ng-container *ngFor="let validation of validation_messages.Email">
        <div class="div" *ngIf="registForm.get('Email').hasError(validation.type) && (registForm.get('Email').dirty || registForm.get('Email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
      <ion-item>
        <ion-label class="label">Contraseña:</ion-label>
        <ion-input formControlName="Password" type="Password"></ion-input>
      </ion-item>
      <div>
      <ng-container *ngFor="let validation of validation_messages.Password">
        <div class="div" *ngIf="registForm.get('Password').hasError(validation.type) && (registForm.get('Password').dirty || registForm.get('Password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
      <ion-item>
        <ion-label class="label">Confirmar contraseña:</ion-label>
        <ion-input formControlName="ConfirmPassword" type="Password"></ion-input>
      </ion-item>
      <div>
      <ng-container *ngFor="let validation of validation_messages.ConfirmPassword">
        <div class="div" *ngIf="registForm.get('ConfirmPassword').hasError(validation.type) && (registForm.get('ConfirmPassword').dirty || registForm.get('ConfirmPassword').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    </ion-list>
  </form>
  <div align="center">
    <ion-button color="warning" (click)="showAlertCancel()">Cancelar</ion-button>
    <ion-button class="button" (click)="showAlertRegist()" [disabled]="!registForm.valid">Crear</ion-button>
  </div>
</ion-content>