ion-input{
    font-family: estiloFuente;
    --color: #FFFFFF;
    text-align: center;
}

ion-content{
    --ion-background-color: #069FF1;
}

ion-toolbar{
    --background: #020CA8;
    --color: #FFFFFF;
}

.label{
    font-family: estiloFuente;
    font-style: bold;
    --color: #000000;
}

.button{
    --background: #020CA8;
}

.alertCss{
    --background: #020CA8;
    --color: #FFFFFF;
}

.div{
    background-color: #FFBFBF;
    color: #DC0000;
    margin-left: 10px;
    margin-right: 10px;
    border-style: dotted;
    border-color: #DC0000;
    border-radius: 5px;
}