ion-label{
    font-family: estiloFuente;
}

ion-input{
    font-family: estiloFuente;
}

ion-content{
    --background: #069FF1;
}

ion-toolbar{
    --background: #069FF1;
    text-align: center;
}

ion-form{
    --background: #069FF1;
}

.label{
    font-family: estiloFuente;
    --background-color: #069FF1;
    --color: #FFFFFF;
}