<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button class="button" (click)="click('location')">
      <ion-icon class="icon" name="beer"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="button" (click)="click('league')">
      <ion-icon class="icon" name="football"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="button" (click)="click('team')">
      <ion-icon class="icon" name="star"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="button" (click)="click('settings')">
      <ion-icon class="icon" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
