<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-label position="stacked"> Usuario: </ion-label>
      <ion-input readonly="true">{{ comment.User }} </ion-input>
      <ion-label position="stacked"> Fecha: </ion-label>
      <ion-input readonly="true">{{ comment.Date }} </ion-input>
      <ion-label position="stacked"> Comentario: </ion-label>
      <ion-textarea type="text" readonly="true" maxlength="500" autoGrow="true"> {{ comment.Commentary }} </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>