.label{
    font-family: estiloFuente;
    color: #fff;
}

.header{
    --background: #020CA8;
    --color: #ffffff;
    text-align: center;
}

ion-content{
    --ion-background-color: #069FF1;
    --color: #ffffff;
}

ion-label{
    --color: #ffffff;
}