<ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>OFERTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button *ngIf="isPub" expand="block" (click)="addSales()" class="button"> Añadir ofertas </ion-button>
  <ion-list *ngIf="haveSales">
    <ion-item *ngFor="let sale of sales" >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="label">{{ sale.Name }}</ion-label>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button *ngIf="isPub" (click)="deleteSale(sale)" color="warning"><ion-icon name="close"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-textarea class="font" disabled="true" autogrow="true">{{ sale.Description }}</ion-textarea>
        </ion-row>
      </ion-grid>
     </ion-item>
  </ion-list>
  <br><ion-label *ngIf="!haveSales">Actualmente no hay ninguna oferta en activo.</ion-label>
</ion-content>
