<ion-header>
  <ion-toolbar>
    <ion-title>Añadir plato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label>Nombre:</ion-label>
  <ion-input [(ngModel)]="name" name="name" type="text" required="true"></ion-input>
  <ion-label>Precio:</ion-label>
  <ion-input [(ngModel)]="price" name="price" type="number" required="true"></ion-input>
  <ion-button color="warning" (click)="close()">Cancelar</ion-button>
  <ion-button class="button" (click)="createDish()">Añadir</ion-button>
</ion-content>