ion-toolbar{
    --background: #020CA8;
    --color: #ffffff;
    text-align: center;
}

ion-content{
    --background: #069FF1;
}

ion-list{    
    --ion-background-color: #069FF1;
}

.item{
    --border-color: #000000;
}

.label{
    font-family: estiloFuente;
}