<ion-header>
 <ion-title>REGISTRO</ion-title>
</ion-header>

<ion-content>
  <form [formGroup]="registForm" (ngSumbit)="regist()">
    <ion-list>
      <ion-item>
        <ion-label>Tipo de cuenta:</ion-label>
        <ion-select name="AccountType" value="user" placeholder="Seleccione tipo de cuenta" (ionChange)="changeTypeAccount($event)">
          <ion-select-option value="user">Usuario</ion-select-option>
          <ion-select-option value="pub">Establecimiento</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="typeAccount == 'pub'">
        <ion-label>Nombre del establecimiento</ion-label>
        <ion-input name="PubName"></ion-input>
      </ion-item>
      <ion-item *ngIf="typeAccount != 'pub'">
        <ion-label>Nombre:</ion-label>
        <ion-input name="UserName"></ion-input>
      </ion-item>
      <ion-item *ngIf="typeAccount != 'pub'">
        <ion-label>Apellidos</ion-label>
        <ion-input name="Surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nombre de usuario:</ion-label>
        <ion-input name="Nickname"></ion-input>
      </ion-item>
      <ion-item *ngIf="typeAccount == 'pub'">
        <ion-label>Localidad:</ion-label>
        <ion-input name="Location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña:</ion-label>
        <ion-input name="Password" type="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirmar contraseña:</ion-label>
        <ion-input name="ConfirmPassword" type="Password"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div align="center">
    <ion-button color="warning-">Cancelar</ion-button>
    <ion-button color="primary">Crear</ion-button>
  </div>
</ion-content>
