ion-toolbar{
    --background: #020CA8;
    --color: #ffffff;
    text-align: center;
}

ion-content{
    --ion-background-color: #069FF1;
    font-family: estiloFuente;
}
.label{
    font-family: estiloFuente;
    --color: #000000;
}

ion-radio{
    --color: #000000;
    --color-checked: #020CA8;
}