.color{
  --background: #020CA8;
  --color: #ffffff;
}

.login{
  --background: #020CA8;
  --color: #ffffff;
  font-style: bold;
}

.regist{
  --background: #069FF1;
}

.div{
  position: relative;
  bottom: 0px;
}

.bold{
  font-family: estiloFuente;
}

.chip{   
  width: max-content;
}

.divLogo{
  height: 50%;
  width: 100%;
  margin: 0 auto;
}

.form{
  height: 50%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.logoInside{
    margin-top: 15%;
    margin-bottom: 10%;
 }

ion-input{
  font-family: estiloFuente;
}