<ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-button (click)="returnMain()"><ion-icon name="arrow-back"></ion-icon></ion-button>  
    </ion-buttons>
    <ion-title>{{ pubName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label class="font">Dirección: {{ addressPub }}</ion-label><br>
  <ion-label class="font">Teléfono: {{ phonePub }}</ion-label><br>
  <ion-button (click)="watchMenu()"><ion-icon name="restaurant"></ion-icon> Ver carta</ion-button>
  <ion-button (click)="teamsVotes()"><ion-icon name="football"></ion-icon> Votaciones equipos</ion-button>
  <ion-button (click)="watchSales()"><ion-icon name="pricetags"></ion-icon> Ver ofertas</ion-button>
  <br>
  <ion-label class="font">Comentarios:</ion-label>&nbsp;<ion-button class="addComment" size="small" (click)="addComment()"><ion-icon name="add-circle"></ion-icon></ion-button>
  <ion-list *ngIf="haveComments">
    <ion-item *ngFor="let comment of comments">
      <ion-label position="stacked" class="comments"> Usuario: </ion-label>
        <ion-input readonly="true" class="font">{{ comment.User }} </ion-input>
        <ion-label position="stacked" class="comments"> Fecha: </ion-label>
        <ion-input readonly="true" class="font">{{ comment.Date }} </ion-input>
        <ion-label position="stacked" class="comments"> Comentario: </ion-label>
        <ion-textarea type="text" readonly="true" maxlength="500" autoGrow="true" class="font"> {{ comment.Commentary }} </ion-textarea>
    </ion-item>
  </ion-list>
  <br><ion-label *ngIf="!haveComments">Actualmente no hay ningún comentario.</ion-label>
</ion-content>
